@model IEnumerable<UnionMember>

@{
	ViewData["Title"] = "Sexmästeriet";
}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">@ViewData["Title"]</h2>
	</div>
	@foreach (var member in Model)
	{
		<div class="col-lg-4 col-sm-6 text-center">
			<img class="img-circle img-responsive img-center" src="~/@member.PictureSrc" alt="">
			<h3>@member.Name
				<small>@member.Title</small>
			</h3>
				<a href="mailto:@member.Email"><i class="fa fa-envelope-o fa-lg"></i> @member.Email</a>
			<p>@member.Quote</p>
		</div>
	}
</div>