@model IEnumerable<UnionMember>

@{
	ViewData["Title"] = "Styrelse";
}
<div class="row">
	<div class="col-sm-12">
		<h1 class="page-header">@ViewData["Title"]</h1>
	</div>
	@foreach (var member in Model)
	{
		<div class="col-lg-3 col-md-4 col-xs-6 text-center">
			<img class="img-circle img-responsive img-center" src="~/images/unionmembers/@member.PictureSrc" alt="">
			<h3>@member.Name
				<small>@member.Title</small>
			</h3>
				<a href="mailto:@member.Email"><i class="fa fa-envelope-o fa-lg"></i> @member.Email</a>
			<p>@member.Quote</p>
		</div>
	}
</div>