@model IEnumerable<ApplicationUser>
@{
	ViewData["Title"] = "Användare";
}
<div class="col-md-9">
	<h2>@ViewData["Title"]</h2>
	<hr />
	@if (TempData.ContainsKey("Message"))
	{
		<div class="alert alert-info alert-fixed alert-dismissable" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@TempData["Message"]</strong>
		</div>
	}
	<a asp-action="Create" id="addMember" class="btn btn-default">Skapa ny login</a>
	<table class="table table-striped table-hover table-row-click">
		<thead>
			<tr>
				<th>
					<!--@Html.DisplayNameFor(model => model.Name)-->
				</th>
				<th>
					<!--@Html.DisplayNameFor(model => model.Email)-->
				</th>
				<th>
					<!--@Html.DisplayNameFor(model => model.Roles)-->
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => user.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => user.Email)
					</td>
					<td>
						<!--@Html.DisplayFor(modelItem => user.Roles)-->
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@user.Id">Redigera</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>