@model IntroViewModel
@{
	ViewData["Title"] = "Faddrar";
}
<div class="row">
	<div class="col-sm-12">
		<h2 class="page-header">@ViewData["Title"]</h2>
		@Html.Raw(Model.Text.Text1)
	</div>
	@foreach (var staff in Model.Staff)
	{
		 <div class="col-md-6 col-sm-12 profile-spacing">
			<div class="col-md-6 col-sm-6">
				<img class="img-circle img-responsive img-center" src="~/@staff.PictureSrc" alt="">
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>@staff.FullName</h3>
				<label asp-for="@Model.Staff.FirstOrDefault().Age" class="control-label"></label>
				@staff.Age
				<br>
				<label asp-for="@Model.Staff.FirstOrDefault().Program" class="control-label"></label>
				@staff.Program
			</div>
		 </div>
	}
</div>