<!-- Sidebar -->
@{var ctrlr = ViewContext.RouteData.Values["Controller"].ToString().ToLower();}
<div class="list-group col-sm-3">
	<a asp-action="Index" asp-controller="Home" class="list-group-item @(ctrlr == "home" ? "active" : "")">Föreningen</a>
	<a asp-action="Index" asp-controller="Users" class="list-group-item @(ctrlr == "users" ? "active" : "")">Hantera användare</a>
	<a asp-action="Index" asp-controller="UnionMember" class="list-group-item @(ctrlr == "unionmember" ? "active" : "")">Hantera föreningsmedlemmar</a>
	<a asp-action="Index" asp-controller="Medlemskapstyp" class="list-group-item @(ctrlr == "medlemskapstyp" ? "active" : "")">Medlemskapstyp</a>
	<a asp-action="Index" asp-controller="Medlemsregister" class="list-group-item @(ctrlr == "medlemsregister" ? "active" : "")" >Medlemsregister</a>
	<a asp-action="Index" asp-controller="Stadga" class="list-group-item @(ctrlr == "stadga" ? "active" : "")">Stadgar, rutiner & protokoll</a>
	<a asp-action="Index" asp-controller="Home" class="list-group-item @(ctrlr == "" ? "active" : "") disabled">Showcase</a>
	<a asp-action="Index" asp-controller="Home" class="list-group-item @(ctrlr == "" ? "active" : "") disabled">Ovvar, mössor etc</a>
	<a asp-action="Index" asp-controller="Home" class="list-group-item @(ctrlr == "" ? "active" : "") disabled">Medlemskap</a>
	<a asp-action="Index" asp-controller="Home" class="list-group-item @(ctrlr == "" ? "active" : "") disabled">Utbildningarna</a>
	<a asp-action="Index" asp-controller="Home" class="list-group-item @(ctrlr == "" ? "active" : "") disabled">Evenemang</a>
</div>