@model List<SocialMedia>
@foreach (var post in Model)
{
	<div class="col-md-4 col-sm-6">
		<div class="panel panel-default social-media-post" data-href="">
			<div class="panel-heading">
				<h4>
					<a href="@post.PageUrl" target="_blank">
						@if (post.Type == "Instagram")
						{
							@:<i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;
							@:@@@post.Username
						}
						else {
							@:<i class="fa fa-facebook-f" aria-hidden="true"></i>&nbsp;
							@post.Username
						}
					</a>
					<a href="@post.PermalinkUrl" target="_blank">
						<small class="pull-right">@post.CreatedTime.ToString("D")</small>
					</a>
				</h4>
			</div>
			<div class="panel-body">
				<a href="@post.PermalinkUrl" target="_blank">
					<img src="@post.Picture" alt="">
					@{
						// jQuery.dotdotdot https://github.com/FrDH/jQuery.dotdotdot
					}
					<p class="dot-ellipsis dot-height-140 dot-resize-update">@post.Text</p>
				</a>
			</div>
		</div>
	</div>
}