@model IEnumerable<Member>
@{
	ViewData["Title"] = "Medlemsregister";
}
<div class="col-sm-9">
	<h2>@ViewData["Title"]
		<span class="pull-right">
			<form asp-action="Index" method="get" class="form-inline">
				<input type="text" class="form-control" placeholder="Find by name.." name="name" value="@ViewData["CurrentFilterName"]" autofocus>
				<button type="submit" class="btn btn-default">
					<i class="fa fa-search" aria-hidden="true"></i>&nbsp; Sök
				</button>
				<a asp-action="Index" class="btn btn-default btn-space-right">Rensa</a>
				<a asp-action="Create" class="btn btn-default">Skapa ny medlem</a>
			</form>
		</span>
	</h2>
	@if (TempData.ContainsKey("Message"))
	{
		<div class="alert alert-info alert-fixed alert-dismissable" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@TempData["Message"]</strong>
		</div>
	}

	<br>
	<table class="table table-striped table-condensed table-hover table-row-click">
		<thead>
			<tr>
				<th>
					<a asp-action="Index" asp-route-sort="@ViewData["FirstNameSort"]">@Html.DisplayNameFor(model => model.FirstName) ↕</a>
				</th>
				<th>
					<a asp-action="Index" asp-route-sort="@ViewData["LastNameSort"]">@Html.DisplayNameFor(model => model.LastName) ↕</a>
				</th>
				<th>
					<a asp-action="Index" asp-route-sort="@ViewData["JoinDateSort"]">@Html.DisplayNameFor(model => model.JoinDate) ↕</a>
				</th>
				<th>
					<a asp-action="Index" asp-route-sort="@ViewData["ExpireDateSort"]">@Html.DisplayNameFor(model => model.ExpireDate) ↕</a>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var member in Model) {
				{
					// Visar röd färg på de som har gått ut
					// Visar gul färg på de som håller på att gå ut (inom 1 månad)
					// Måste ha @: nedan annars gnäller compilern
				}
				@if (member.ExpireDate < DateTime.Today)
				{
					@:<tr class="danger">
				}
				else if (member.ExpireDate < DateTime.Today.AddMonths(1))
				{
					@:<tr class="warning">
				}
				else
				{
					@:<tr>
				}
					<td>
						@Html.DisplayFor(modelItem => member.FirstName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => member.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => member.JoinDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => member.ExpireDate)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@member.Id">Redigera</a>
					</td>
				{
					// Måste ha @: nedan annars gnäller compilern
				}
				@:</tr>
			}
		</tbody>
	</table>
</div>