@model IEnumerable<ApplicationUser>

@{
	ViewData["Title"] = "Members";
}
<h3>@ViewData["Message"]</h3>
<form asp-action="Index" method="get">
	<div class="form-actions no-color">
		<p>
			<input type="text" name="name" class="form-control" value="@ViewData["CurrentFilterName"]" placeholder="Find by name.." autofocus>
			<input type="submit" value="Search" class="btn btn-default">
			<a asp-action="Index" class="btn btn-default">Reset</a>
		</p>
	</div>
</form>
<a asp-action="Create" id="addMember" class="btn btn-default">Add New User</a>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			@if(User.IsInRole("Admin"))
			{
				<th></th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var boardMember in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => boardMember.UserName)
				</td>
				@if(User.IsInRole("Admin"))
				{
					<td>
						<a asp-action="Edit" asp-route-id="@boardMember.Id">Edit</a> |
						<a asp-action="Delete" asp-route-id="@boardMember.Id">Delete</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>