@model IEnumerable<UnionMember>
@{
	ViewData["Title"] = "Användare";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<a asp-action="Create" id="addMember" class="btn btn-default">Add New User</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => user.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => user.Title)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>